@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap);
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
p {
  color: rgb(85, 85, 85);
}
.header {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.header {
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.navlink {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.navicon {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
  color: hsl(228, 45%, 44%);
}
.product-image {
  display: flex;
  padding-left: 5rem;
  width: 50%;
}
.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1%;
}
.product img {
  width: 400px;
  border-radius: 8px;
}
.product-image_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
  padding-left: 1.5rem;
  width: 50px;
  height: 50px;
}
.company-discription {
  display: flex;
}
.head {
  cursor: default;
}
/* main content */
.min-content {
  display: flex;
}
